<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Mahesh Jobs</title>
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1>Welcome To MAHESHJOBS</h1>
      <p>Continuos Job Updates For Every Hour.....</p>
      <a class="btn btn-primary btn-lg" href="hydjobsinfo/" role="button">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp
      <a class="btn btn-primary btn-lg" href="bngjobsinfo/" role="button">Pune Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp
      <a class="btn btn-primary btn-lg" href="punejobsinfo/" role="button">Bangalore Jobs</a>
    </div>
      </div>
  </body>
</html>